.mealsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 12px;
}

.img {
  width: 220px;
  cursor: pointer;
  transition: ease-in 0.1s;
  border-radius: 3px;
  border: 2px solid #fff;
  box-shadow: 3px 3px 6px #000;
}
.img:hover {
  transform: scale(1.05);
}

.mealName {
  margin-top: 5px;
  font-size: 1.2rem;
  width: 250px;
}
