* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --bg: white;
  --text: black;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

body.dark {
  --bg: #121212;
  --text: white;
  button {
    color: white;
  }
}

/* IMPORTANT LINE */
body * {
  color: inherit;
}

.links {
  text-decoration: none;
}

.container {
  text-align: center;
  margin: 0px auto;
}

.slider {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}

.randomBtn {
  padding: 7px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(160, 79, 235, 0.824);
  color: var(--bg);
  margin: 10px;
}
.randomBtn:hover {
  border: 1px solid var(--text);
  background-color: transparent;
  color: #000;
}
.randomBtn:active {
  background-color: rgba(160, 79, 235, 0.824);
  color: var(--bg);
  border: none;
}

#viewMore {
  font-size: 0.8rem;
}

.categoryContainer {
  max-height: 300px; /* visible height */
  overflow-y: auto; /* vertical scroll */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 6px;
}

/* optional scrollbar styling */
.categoryContainer::-webkit-scrollbar {
  width: 6px;
}

.categoryContainer::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 10px;
}

.heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
  padding: 15px;
}

.mealsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  width: 90%;
  margin: 12px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
}
.card:hover {
  box-shadow: 2px 2px 6px #000000af;
}

.img {
  width: 100%;
  height: 250px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  object-fit: cover;
}

.mealName {
  margin-top: 5px;
  font-size: 1.2rem;
  width: 250px;
  color: var(--text);
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .mealsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
  }
  .card {
    width: 190px;
    margin: 5px;
    padding: 5px;
  }
  .img {
    height: 200px;
  }
  .mealName {
    width: 190px;
    font-size: 0.8rem;
  }
  .title {
    font-size: 1rem;
    padding: 5px;
    margin-left: 8px;
  }
}
